<!DOCTYPE html>
<html lang="en">
{% load static %}  <!-- Cargar archivos estáticos -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <!-- Incluir Bootstrap desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Incluir tu archivo CSS -->
    <link rel="stylesheet" href="{% static 'catalog/styles.css' %}">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center log-reg-title">Registro</h2>
            <form method="post" class="form-container mt-4">
                {% csrf_token %}
                {{ form.as_p }} <!-- Renderiza automáticamente el formulario -->

                <button type="submit" class="btn btn-register w-100 mt-3">Registrarse</button>
            </form>
        </div>
    </div>
</div>

<!-- Scripts de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
